* {
	box-sizing: border-box;
}

body, html {
	min-height: 100%;
	margin: 0%;
}

img{
	width: 100%;
	border-radius: 20px;
}

.grid-parent{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;

}

.item-grid{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}
.item{
	background: lightgrey;
	margin: 5%;
	box-shadow: 5px 5px 10px #777777;
	font-family: arial;

}
.thumbnail{
	padding: 5%;

}
.headline{
	font-size: 18px;
	font-weight: bold;
	padding: 10%;
	text-align: center;

}


@media screen and (max-width: 1200px){
.grid-parent{
	grid-template-columns: 1fr;
}

}

@media screen and (max-width: 600px){
.item-grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 30px;
}
.headline{
	padding-top: 0%;
}
.desc{
	padding: 10px;
}
}
